$namespace: "kin" !default;
$block-sel: "-" !default;
$elem-sel: "__" !default;
$mod-sel: "--" !default;

@mixin b($block) {
    $B: #{$namespace + $block-sel + $block};
    .#{$B} {
        @content;
    }
}

@mixin e($el) {
    $selector: &;
    @at-root {
        #{$selector + $elem-sel + $el} {
            @content;
        }
    }
}

@mixin m($m) {
    $selector: &;
    @at-root {
        #{$selector + $mod-sel + $m} {
            @content;
        }
    }
}

@mixin flex-cloumn() {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin flex1() {
    flex: 1;
    min-height: 0;
    @content;
}
